$breakpoints: (
        4xl: 1600px,
        xxxl: 1487px,
        xxl: 1365px,
        xl: 1279px,
        lg: 1099px,
        md: 991px,
        sm: 767px,
        xs: 375px);

$colors: (green: #10D70A,
       
   );

$grid-breakpoints: (xs: 0,
        sm: 100%,
        md: 100%,
        lg: 100%,
        xl: 1280px);

$container-max-widths: (sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1112px);

        
$grid-gutter-width: 24px !default;