.header {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
}
.header {
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 20px 0;
  // box-shadow: 0px 4px 6px #00000029;
  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #262626;

    .icon {
      width: 35px;
      img {
        max-width: 100%;
      }
    }

    &-text {
      margin-left: 15px;
    }

    &-name {
      font-size: 18px;
      line-height: 23px;
      font-weight: 500;
      letter-spacing: 0px;
      color: #262626;
      display: block;
      margin-bottom: 2px;
    }

    &-desc {
      text-align: left;
      font-weight: 400;
      font-size: 6px;
      line-height: 7px;
      color: #262626;
      display: block;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger {
    margin-left: 20px;
  }

  &__menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

    &-item {
      padding-right: 32px;

      &:last-child {
        padding-right: 0;
      }
    }
    .header__info-menu {
      margin-top: auto;
      position: absolute;
      bottom: 50px;
      .header__info-phone,
      .footer__text {
        display: block;
        color: #fff;
        font-size: 18px;
        text-align: left;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 10px;
        opacity: 0.6;
        cursor: pointer;
      }
    }

    &-link {
      text-align: left;
      font-size: 13px;
      line-height: 15px;
      font-weight: 500;
      color: #262626;
      opacity: 0.6;
      text-decoration: none;
      transition: all 0.2s;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__info {
    cursor: pointer;
    display: flex;
    align-items: center;
    letter-spacing: 0.1rem;
    span {
      margin-left: 5px;
    }
    &-phone {
      text-decoration: none;
      text-align: right;
      font-size: 13px;
      font-weight: 500;
      line-height: 15px;
      letter-spacing: 1.3px;
      color: #262626;
      margin-right: 10px;
      transition: all 0.2s;

      &:hover {
        color: #720c0c;
      }
    }
  }
}
.open-modal-menu {
  overflow: hidden;
  .header__menu {
    transform: translate(0);
  }
}
.burger-menu {
  display: none;
}

@media (max-width: 1040px) {
  .header {
    &__menu {
      display: none;
    }
    &__info {
      margin-left: auto;
    }
  }
  .burger-menu {
    display: block;
    margin-left: 2rem;
  }
}
@media (max-width: 520px) {
  .header {
    &__info {
      display: none;
    }
  }
}
@media (max-width: 440px) {
  .header {
    &__info {
      display: none;
    }
  }
}
