@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
        @content;
      }
    }
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Please make sure it is defined in `$breakpoints` map.";
    }
  }
  
  @mixin respond-to-min($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      @media (min-width: #{map-get($breakpoints, $breakpoint)+0.02px}) {
        @content;
      }
    }
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Please make sure it is defined in `$breakpoints` map.";
    }
  }
  
  @function color($key) {
    @if map-has-key($colors, $key) {
      @return map-get($colors, $key);
    }
  
    @warn "Unknown `#{$key}` in $colors.";
    @return null;
  }
  
  // Reset
@mixin reset {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}